APP_ENV=development

# PostgreSQL
POSTGRES_USER=fraud_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=fraud_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Modelo
MODEL_PATH=ml/models/model.pkl
FRAUD_BLOCK_THRESHOLD=0.85
FRAUD_REVIEW_THRESHOLD=0.5

# API-KEY
API_KEY=fraud-dev-key-123

